<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
  <add name="Baglanti" connectionString="Data Source=LABORANT-PC\SQLEXPRESS;Initial Catalog=Soft;Integrated Security=True;Pooling=False" />
  <add name="SoftCS" connectionString="Data Source=LABORANT-PC\SQLEXPRESS;Initial Catalog=Soft;Integrated Security=True;Pooling=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<authentication mode="Forms">
			<forms name="OnlineBettingCookie" timeout="10"/>
		</authentication>
    <authorization>
      <allow users="?"/>
      <allow users="*"/>
    </authorization>
  <membership defaultProvider="MySqlMembershipProvider">
			<providers>
				<clear/>
				<add name="MySqlMembershipProvider" connectionStringName="Baglanti" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</membership>
		<compilation debug="true"/></system.web>
</configuration>
